.footer{
    display: flex;
    flex-direction: column;
    font-size: larger;
    padding: 1rem;
}

.footerContent{
    padding: 1rem;
}

.titulo{
    font-size: 1.8rem;
    font-weight: bolder;
    border-bottom: 2px solid black;
}

.subTitulo{
    color: rgb(60, 194, 214);
    font-weight: bolder;
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    max-width: 200px;
    border-image: linear-gradient(to right, black, transparent) 1;
}

.sobre{
    max-width: 50%;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3rem;
}

.autoria{
    display: grid;
    grid-template-columns: 45% 50%;
    column-gap: 3rem;
    padding-left: 3rem;
}

.link:hover{
    text-decoration: underline;
}