.logo{
    margin: 1rem;
    border-radius: 2rem;
    height: 8rem;
}

.link{
    font-size: 2rem;
    font-weight: bolder;
    color: black;
    margin: 3rem;
}

.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}