.titulo{
    font-size: 1.8rem;
    font-weight: bolder;
    color: #a3a3a3;
    border-bottom: 2px solid #a3a3a3;
    margin: 1rem;
}

.conteudo{
    display: grid;
    grid-template-columns: repeat(20, 20%);
    margin: 1rem;
}

.container{
    display: flex;
    flex-direction: column;
}

.img{
    border-radius: 1rem 1rem 0 0;
}

.cardInfo{
    display: none;
    color: white;
    text-shadow: 0 0 6px black;
}



.container .cardInfo{
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    background-color: #1e293b;
    border-radius: 0 0 1rem 1rem;
    padding: .5rem;
    
}
